* {
  margin: 0;
  padding: 0;
}

.box {
  box-sizing: border-box;
  border: 2px solid rgb(31, 25, 25);
  margin: 30px;
  padding: 45px;
  background: magenta;
  color: antiquewhite;
  display: inline-block;
  width: 240pxb;
}

.box1 {
  display: inline-flex;
  /* visibility: hidden; */
}
