* {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
  padding: 20px;
}

.container {
  border: 2px solid purple;
  margin: 20px;
  height: 80vh;
}
.box {
  height: 250px;
  width: 250px;
  background-color: aqua;
  border: 2px solid black;
  /* transform: rotate(40deg); */
  /* transform: skewY(5deg); */
  /* transform: translate(100%) skewX(40deg) translateY(45%); */
  transform-origin: 55%;
  transform: scale3d();
}
