* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: aqua;
}

.box1 {
  color: red;
  padding: 10px;
  margin: 5px;
  border: 2px solid blueviolet;
  height: 100px;
  box-sizing: border-box;
}

.box2 {
  color: green;
  padding: 10px;
  margin: 5px;
  border: 2px solid blueviolet;
  height: 100px;
  /* box-sizing: border-box; */
}
