* {
  margin: 0;
  padding: 0;
}
body {
  background-color: greenyellow;
}
@media only screen and (max-width: 455px) {
  body {
    background-color: blue;
  }
  .boxes {
    flex-direction: column;
  }
}

@media screen and (orientation: landscape) {
  body {
    border: 2px solid black;
  }
  .box {
    border: 4px solid brown;
  }
}

.boxes {
  border: 2px solid black;
  background-color: aliceblue;
  display: flex;
}
.box {
  width: 230px;
  height: 100px;
  background-color: skyblue;
  padding: 5px;
  margin: 3px;
}
