* {
  margin: 0;
  padding: 0;
}

.box {
  color: aliceblue;
  margin: 90px;
  padding: 45px;
  width: 240px;
  box-shadow: 5px 5px 15px 5px rgb(165, 86, 86);
  border: 2px solid white;
  background-color: green;
  box-sizing: border-box;
}
.text-element {
  text-shadow: 2px 2px 2px rgb(102, 184, 166);
  outline: 2px solid black;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid saddlebrown;
  outline-offset: 14px;
  border-radius: 34px;
}
