* {
  margin: 0;
  padding: 0;
}

.box {
  width: 70vw;
  margin: 100px;
  height: 10vh;
  border: 2px solid black;
  /* overflow: auto; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
