* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgb(134, 223, 211);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card {
  width: 320px;
  background: #f5f5f5;
  border-radius: 14px;
  border: 1px saddlebrown;
  padding: 14px;
  margin: 5px;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.card-tags {
  display: flex;
  gap: 10px;
  padding: 12px 6px;
}

.card-tags span {
  padding: 4px 12px;
  font-size: 12px;
  color: rgb(47, 9, 83);
  border: 1px solid aquamarine;
  border-radius: 20px;
}

.card-content {
  padding: 4px 6px 12px;
}

.card-content h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}

.card-content p {
  font-size: 14px;
  line-height: 1.6;
  color: black;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding: 10px 0px 6px;
}

.card-footer button {
  border: none;
  padding: 10px 22px;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(68, 68, 170);
  background: #cee9e2;
}

.card-footer button:hover {
  background: #238557d2;
}
