.box:first-child {
  background-color: aqua;
}
.boxes::before {
  content: "Hi I am learning the css pseudo element";
}
.boxes::after {
  content: "This is afer";
}

::selection {
  color: rgb(182, 55, 55);
  background-color: aquamarine;
}
